h1 {
color:#683909;
font-family: 'Pobeda Regular'; sans-sherif;
font-size:  6.5rem;
text-align: center;
margin: 0;
}
p, ul {
	color: #663300;
	font-family: 'Roboto', sans-serif;
	}
h3 {
color: #1a0d00;
font-family: 'Roboto', sans-serif;
font-size:  40px;
text-align: center;
margin: 0;
padding: 20px;
text-shadow: 1px 1px 1px #99ff99;
}
p, li {
	color: #1a0d00;
	font-family: 'Roboto', sans-serif;
	font-size:  15px;
	line-height: 2;
	letter-spacing: 1px;
	text-shadow: 0px 0px 0px;
}
body {
width: 650px;
margin: 0 auto;
background-color: #ddc9c9;
padding: 0 20 px 0 px 0 px;
}
img {
	display: block;
	margin: 0 auto;
}
.block {
    width: 600px;
    background-color: rgb(240, 186, 37);
    border: 2px solid rgb(128, 119, 119);
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
	color: #1a0d00;
	font-family: 'Roboto', sans-serif;
	font-size:  15px;
	line-height: 2;
	letter-spacing: 1px;
	text-shadow: 0px 0px 0px;
}
.big_size{
	font-size:  2rem;
	color:rgb(223, 116, 175)
}
@font-face {
	font-family: 'Pobeda Regular';
	src: url('fonts/pobeda_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/pobeda_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/pobeda_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/pobeda_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/pobeda_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/pobeda_regular.svg#pobeda_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}